[submodule "External/CesiumNative"]
	path = External/CesiumNative
	url = ../cesium-native.git
[submodule "External/TidyHtml5"]
	path = External/TidyHtml5
	url = https://github.com/htacg/tidy-html5.git
